#include "AutoCam/AcWinStrings.h"

// AutoCam Library English (United States) Strings

// Western European (Windows) - Codepage 1252
#pragma code_page(1252)

STRINGTABLE 
BEGIN
    IDS_AUTOCAM_WHEEL_FULL_CENTER_TIP "Set Zoom/Orbit Center"
    IDS_AUTOCAM_WHEEL_FULL_CLOSE_TIP "Close the Wheel"
    IDS_AUTOCAM_WHEEL_FULL_FLY_TIP ""
    IDS_AUTOCAM_WHEEL_FULL_LOOK_TIP "Look around your current position"
    IDS_AUTOCAM_WHEEL_FULL_MENU_TIP "Display the Wheel menu"
    IDS_AUTOCAM_WHEEL_FULL_ORBIT_TIP
                            "Orbit around Pivot. Press Ctrl to set Pivot."
    IDS_AUTOCAM_WHEEL_FULL_PAN_TIP "Move the view"
    IDS_AUTOCAM_WHEEL_FULL_REWIND_TIP "Rewind through your movement history"
    IDS_AUTOCAM_WHEEL_FULL_UPDOWN_TIP "Move up or down"
    IDS_AUTOCAM_WHEEL_FULL_WALK_TIP 
                            "Click and drag in the direction you want to walk"
    IDS_AUTOCAM_WHEEL_FULL_ZOOM_TIP 
                            "Zoom from the click position. Press Ctrl to Zoom at orbit Pivot."
    IDS_AUTOCAM_WHEEL_FULL_ZOOMRECT_TIP 
                            "Zoom from the click position. Press shift for zoom window."
    IDS_AUTOCAM_WHEEL_FULL_LOOKAT_TIP "Look around your current position. Press Shift to look at face."
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_INT_CLOSE_TIP "Close the Wheel"
    IDS_AUTOCAM_WHEEL_INT_FORWARD_TIP 
                            "Click to set Target. Drag to adjust distance to the Target."
    IDS_AUTOCAM_WHEEL_INT_LOOK_TIP "Look around your current position"
    IDS_AUTOCAM_WHEEL_INT_MENU_TIP "Display the Wheel menu"
    IDS_AUTOCAM_WHEEL_INT_REWIND_TIP "Rewind through your movement history"
    IDS_AUTOCAM_WHEEL_INT_UPDOWN_TIP "Move up or down"
    IDS_AUTOCAM_WHEEL_INT_WALK_TIP 
                            "Click and drag in the direction you want to walk"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_EXT_CENTER_TIP "Set Zoom/Orbit Center"
    IDS_AUTOCAM_WHEEL_EXT_CLOSE_TIP "Close the Wheel"
    IDS_AUTOCAM_WHEEL_EXT_MENU_TIP "Display the Wheel menu"
    IDS_AUTOCAM_WHEEL_EXT_ORBIT_TIP
                            "Move around Center."
    IDS_AUTOCAM_WHEEL_EXT_PAN_TIP "Move the view"
    IDS_AUTOCAM_WHEEL_EXT_REWIND_TIP "Rewind through your movement history"
    IDS_AUTOCAM_WHEEL_EXT_ZOOM_TIP "Move in or out from Center"
    IDS_AUTOCAM_WHEEL_EXT_ZOOMRECT_TIP "Move in or out from Center. Press shift to set zoom window."
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_HUD_LOOK_BOTTOM "Press the arrow keys to move"
    IDS_AUTOCAM_WHEEL_HUD_MAX_IN "Change the Center point to zoom further"
    IDS_AUTOCAM_WHEEL_HUD_MAX_OUT "Maximum zoom-out reached"
    IDS_AUTOCAM_WHEEL_HUD_ON_OBJECT "Click or drag on model to set Pivot"
    IDS_AUTOCAM_WHEEL_HUD_REACTIVATE "Press Shift+W to Show/Hide the Wheel"
    IDS_AUTOCAM_WHEEL_HUD_REWIND_EMPTY "There is no movement to rewind"
    IDS_AUTOCAM_WHEEL_HUD_WALK   "Drag in the direction you want to walk"
    IDS_AUTOCAM_WHEEL_HUD_ORBIT_ROLL "Hold down Shift key to roll the view"
    IDS_AUTOCAM_WHEEL_HUD_WALK_WARNING "The Walk tool requires perspective projection"
    IDS_AUTOCAM_WHEEL_HUD_DRAW_RECT "Draw view rectangle with the cursor"
    IDS_AUTOCAM_WHEEL_HUD_UP_DOWN   "Press Up/Down arrows to adjust height, '+' key to speed up"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_BALL_CENTER "CENTER"
    IDS_AUTOCAM_WHEEL_BALL_FOCUS "FOCUS"
    IDS_AUTOCAM_WHEEL_BALL_PIVOT "PIVOT"
    IDS_AUTOCAM_WHEEL_BALL_TARGET "TARGET"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_FORWARDBACK_SLIDER_BACK_LABEL "Start"
    IDS_AUTOCAM_WHEEL_FORWARDBACK_SLIDER_FORWARD_LABEL "Surface"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_UPDOWN_SLIDER_DOWN_LABEL "Bottom"
    IDS_AUTOCAM_WHEEL_UPDOWN_SLIDER_UP_LABEL "Top"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_CURSORTIP_CENTER "Center Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_FORWARD "Forward/Backward Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_LOOK "Look Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_UPDOWN "Up/Down Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_ORBIT "Orbit Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_PAN "Pan Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_REWIND "Rewind Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_WALK "Walk Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_ZOOM "Zoom Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_LOOKAT "Look At Tool"
    IDS_AUTOCAM_WHEEL_CURSORTIP_ZOOMRECT "Zoom Window Tool"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_WHEEL_MINI_CENTER_LABEL "Center"
    IDS_AUTOCAM_WHEEL_MINI_FORWARD_LABEL "Forward"
    IDS_AUTOCAM_WHEEL_MINI_HEIGHT_LABEL "Up/Down"
    IDS_AUTOCAM_WHEEL_MINI_LOOK_LABEL "Look"
    IDS_AUTOCAM_WHEEL_MINI_ORBIT_LABEL "Orbit"
    IDS_AUTOCAM_WHEEL_MINI_PAN_LABEL "Pan"
    IDS_AUTOCAM_WHEEL_MINI_REWIND_LABEL "Rewind"
    IDS_AUTOCAM_WHEEL_MINI_WALK_LABEL "Walk"
    IDS_AUTOCAM_WHEEL_MINI_ZOOM_LABEL "Zoom"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_VIEWCUBE_UCS_WORLDSPACE "World-Space"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_VIEWCUBE_TOOLTIP_HOME "Home"
    IDS_AUTOCAM_VIEWCUBE_TOOLTIP_LOCK "Lock to Selection"
    IDS_AUTOCAM_VIEWCUBE_TOOLTIP_PART "Click or Drag"
    IDS_AUTOCAM_VIEWCUBE_TOOLTIP_COMPASS "Drag"
    IDS_AUTOCAM_VIEWCUBE_TOOLTIP_CONTEXT "Context Menu"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_SEQUENCE_FORMAT_NAME "Sequence #%d"
    IDS_AUTOCAM_SHOT_FORMAT_NAME "Shot #%d"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_SM_PLAY_SHOT     "Play Shot"
    IDS_AUTOCAM_SM_PLAY_SEQUENCE "Play Sequence"
    IDS_AUTOCAM_SM_PLAY_STORY    "Play Story"
    IDS_AUTOCAM_SM_PAUSE         "Pause"
    IDS_AUTOCAM_SM_STOP          "Stop"
    IDS_AUTOCAM_SM_LOOP_ON       "Turn on Looping"
    IDS_AUTOCAM_SM_LOOP_OFF      "Turn off Looping"
    IDS_AUTOCAM_SM_CLOSE         "Close ShowMotion"
    IDS_AUTOCAM_SM_TARGET        "Go To Location"
    IDS_AUTOCAM_SM_NEW_SEQUENCE  "Create new Sequence"
    IDS_AUTOCAM_SM_NEW_SHOT      "Create new Shot"
END

STRINGTABLE
BEGIN
    IDS_AUTOCAM_NAVBAR_TOOLTIP_CLOSE "Close"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_CUSTOMIZE "Customize"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_GRIP "Drag"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_MORE "More Controls"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_VIEWCUBE "ViewCube"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_FULLNAVWHEEL "Full Navigation Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_MINFULLNAVWHEEL "Mini Full Navigation Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_MINIVIEWOBJECT "Mini View Object Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_MINITOURBUILDING "Mini Tour Building Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_EASYVIEWOBJECT "View Object Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_EASYTOURBUILDING "Tour Building Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_2DWHEEL "2D Wheel"
    IDS_AUTOCAM_NAVBAR_TOOLTIP_SHOWMOTION "ShowMotion"
END

//-
// ==================================================================
// (C) Copyright 2007 by Autodesk, Inc. All Rights Reserved. By using
// this code,  you  are  agreeing  to the terms and conditions of the
// License  Agreement  included  in  the documentation for this code.
// AUTODESK  MAKES  NO  WARRANTIES,  EXPRESS  OR  IMPLIED,  AS TO THE
// CORRECTNESS OF THIS CODE OR ANY DERIVATIVE WORKS WHICH INCORPORATE
// IT.  AUTODESK PROVIDES THE CODE ON AN 'AS-IS' BASIS AND EXPLICITLY
// DISCLAIMS  ANY  LIABILITY,  INCLUDING CONSEQUENTIAL AND INCIDENTAL
// DAMAGES  FOR ERRORS, OMISSIONS, AND  OTHER  PROBLEMS IN THE  CODE.
// 
// Use, duplication,  or disclosure by the U.S. Government is subject
// to  restrictions  set forth  in FAR 52.227-19 (Commercial Computer
// Software Restricted Rights) as well as DFAR 252.227-7013(c)(1)(ii)
// (Rights  in Technical Data and Computer Software),  as applicable.
// ==================================================================
//+
