@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Hair.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Hair Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Thin Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Light Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Book Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Bold Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Black Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-element/WOFF2/Artifakt Element Heavy Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Hair.woff2') format('woff2');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Hair Italic.woff2') format('woff2');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Thin Italic.woff2') format('woff2');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Light Italic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Book.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Book Italic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Bold Italic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Black.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktLegend';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Black Italic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Heavy.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'ArtifaktElement';
  src: url('./resources/fonts/artifakt-legend/WOFF2/Artifakt Legend Heavy Italic.woff2') format('woff2');
  font-weight: 800;
  font-style: italic;
}